In [7]:
import numpy as np
import pandas as pd

In [8]:
dataset = pd.read_csv('drive/dermnet.csv')
dataset.head()

                           category                 subcategory
0  /images/Acne-and-Rosacea-Photos/  /images/Acne-Closed-Comedo
1  /images/Acne-and-Rosacea-Photos/  /images/Acne-Closed-Comedo
2  /images/Acne-and-Rosacea-Photos/  /images/Acne-Closed-Comedo
3  /images/Acne-and-Rosacea-Photos/  /images/Acne-Closed-Comedo
4  /images/Acne-and-Rosacea-Photos/  /images/Acne-Closed-Comedo

In [9]:
new_dataset = dataset.select_dtypes(['object'])
dataset[new_dataset.columns] = new_dataset.apply(lambda x: x.str.strip('/images'))

In [10]:
dataset.head()

                 category         subcategory
0  Acne-and-Rosacea-Photo  Acne-Closed-Comedo
1  Acne-and-Rosacea-Photo  Acne-Closed-Comedo
2  Acne-and-Rosacea-Photo  Acne-Closed-Comedo
3  Acne-and-Rosacea-Photo  Acne-Closed-Comedo
4  Acne-and-Rosacea-Photo  Acne-Closed-Comedo

In [11]:
dataset.to_csv('drive/dataset.csv', index=False)