In [2]:
import pandas as pd 
from glob import glob
import os

In [3]:
path = 'imageclassi/dermnet'
# train = path + "/traina"
# test = path + "/test"

In [4]:
df = pd.DataFrame({'path' : glob(os.path.join(path, '*.jpg'))})

In [5]:
df.tail()

                                                    path
13636      imageclassi/dermnet/stasis-dermatitis-147.jpg
13637  imageclassi/dermnet/cutaneous-Larva-Migrans-53...
13638  imageclassi/dermnet/seborrheic-dermatitis-115.jpg
13639         imageclassi/dermnet/dariers-disease-23.jpg
13640          imageclassi/dermnet/telangiectasias-8.jpg

In [6]:
# df['id'] = df.path.map(lambda x: x.split('/')[3].split('.')[0]) # keep only the file names in 'id'
df['id'] = df.path.map(lambda x: x.split('/')[2])

In [7]:
df.head()

                                          path                       id
0  imageclassi/dermnet/eczema-nummular-177.jpg  eczema-nummular-177.jpg
1           imageclassi/dermnet/keloids-35.jpg           keloids-35.jpg
2        imageclassi/dermnet/halo-nevus-28.jpg        halo-nevus-28.jpg
3  imageclassi/dermnet/eczema-nummular-167.jpg  eczema-nummular-167.jpg
4   imageclassi/dermnet/telangiectasias-23.jpg   telangiectasias-23.jpg

In [8]:
data = pd.read_csv('imageclassi/dermnetwithlink.csv')

In [9]:
# df = df.merge(labels, on = "id") # merge labels and filepaths
data.head()

,category,imagelink,subcategory
0,/images/Acne-and-Rosacea-Photos/,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,/images/Acne-Closed-Comedo/photos/2
1,/images/Acne-and-Rosacea-Photos/,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,/images/Acne-Closed-Comedo/photos/2
2,/images/Acne-and-Rosacea-Photos/,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,/images/Acne-Closed-Comedo/photos/2
3,/images/Acne-and-Rosacea-Photos/,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,/images/Acne-Closed-Comedo/photos/2
4,/images/Acne-and-Rosacea-Photos/,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,/images/Acne-Closed-Comedo/photos/2

In [10]:
data['id'] = data.imagelink.map(lambda x: x.split('/')[5])

In [11]:
new = data[['category', 'subcategory']]
df = new.select_dtypes(['object'])
data[df.columns] = df.apply(lambda x: x.str.strip('/images'))

In [12]:
data.head()

,category,imagelink,subcategory,id
0,Acne-and-Rosacea-Photo,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,Acne-Closed-Comedo/photos/2,acne-closed-comedo-18.jpg
1,Acne-and-Rosacea-Photo,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,Acne-Closed-Comedo/photos/2,acne-closed-comedo-19.jpg
2,Acne-and-Rosacea-Photo,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,Acne-Closed-Comedo/photos/2,acne-closed-comedo-2.jpg
3,Acne-and-Rosacea-Photo,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,Acne-Closed-Comedo/photos/2,acne-closed-comedo-20.jpg
4,Acne-and-Rosacea-Photo,http://www.dermnet.com/dn2/allJPGThumb3/acne-c...,Acne-Closed-Comedo/photos/2,acne-closed-comedo-21.jpg

In [13]:
data.shape

(13966, 4)

In [14]:
df = data[['category', 'id']]

In [15]:
df.isnull().sum()

category    0
id          0
dtype: int64

In [16]:
# df = pd.read_csv('data.csv')

In [17]:
df.head()

                 category                         id
0  Acne-and-Rosacea-Photo  acne-closed-comedo-18.jpg
1  Acne-and-Rosacea-Photo  acne-closed-comedo-19.jpg
2  Acne-and-Rosacea-Photo   acne-closed-comedo-2.jpg
3  Acne-and-Rosacea-Photo  acne-closed-comedo-20.jpg
4  Acne-and-Rosacea-Photo  acne-closed-comedo-21.jpg

In [18]:
values = df.category.value_counts().sort_index()
len(values)

23

In [19]:
# va = df.category.value_counts().sort_index() * 75/100
# va

In [20]:
for i in values:
    test = i * 75/100
    print('train_size:',test, 'total value', i, 'remain','test_size', i - test)

train_size: 517.5 total value 690 remain test_size 172.5
train_size: 713.25 total value 951 remain test_size 237.75
train_size: 375.0 total value 500 remain test_size 125.0
train_size: 322.5 total value 430 remain test_size 107.5
train_size: 131.25 total value 175 remain test_size 43.75
train_size: 852.75 total value 1137 remain test_size 284.25
train_size: 256.5 total value 342 remain test_size 85.5
train_size: 117.0 total value 156 remain test_size 39.0
train_size: 287.25 total value 383 remain test_size 95.75
train_size: 345.0 total value 460 remain test_size 115.0
train_size: 288.75 total value 385 remain test_size 96.25
train_size: 309.75 total value 413 remain test_size 103.25
train_size: 643.5 total value 858 remain test_size 214.5
train_size: 174.75 total value 233 remain test_size 58.25
train_size: 1018.5 total value 1358 remain test_size 339.5
train_size: 251.25 total value 335 remain test_size 83.75
train_size: 1009.5 total value 1346 remain test_size 336.5
train_size: 357.0 total value 476 remain test_size 119.0
train_size: 936.75 total value 1249 remain test_size 312.25
train_size: 128.25 total value 171 remain test_size 42.75
train_size: 334.5 total value 446 remain test_size 111.5
train_size: 288.75 total value 385 remain test_size 96.25
train_size: 815.25 total value 1087 remain test_size 271.75

In [21]:
cat = df['category'].unique().tolist()
def get_category(cat):
    column = []
    for i in cat:
        column.append(i)
    return column

get_category(cat)

['Acne-and-Rosacea-Photo',
 'Actinic-Keratosis-Basal-Cell-Carcinoma-and-other-Malignant-Lesion',
 'Atopic-Dermatitis-Photo',
 'Bullous-Disease-Photo',
 'Cellulitis-Impetigo-and-other-Bacterial-Infection',
 'Eczema-Photo',
 'Exanthems-and-Drug-Eruption',
 'Hair-Loss-Photos-Alopecia-and-other-Hair-D',
 'Herpes-HPV-and-other-STDs-Photo',
 'Light-Diseases-and-Disorders-of-Pigmentation',
 'Lupus-and-other-Connective-Tissue-d',
 'Melanoma-Skin-Cancer-Nevi-and-Mol',
 'Nail-Fungus-and-other-Nail-D',
 'Poison-Ivy-Photos-and-other-Contact-Dermatit',
 'Psoriasis-pictures-Lichen-Planus-and-related-d',
 'Scabies-Lyme-Disease-and-other-Infestations-and-Bit',
 'Seborrheic-Keratoses-and-other-Benign-Tumor',
 'Systemic-D',
 'Tinea-Ringworm-Candidiasis-and-other-Fungal-Infection',
 'Urticaria-Hiv',
 'Vascular-Tumor',
 'Vasculitis-Photo',
 'Warts-Molluscum-and-other-Viral-Infection']

In [23]:
import os, shutil
original_dataset_dir = 'imageclassi/dermnet/'
base_dir = 'base_dir/'
if not os.path.exists(base_dir): os.mkdir(base_dir)
train_dir = os.path.join(base_dir, 'train')
test_dir = os.path.join(base_dir, 'test')
if not os.path.exists(train_dir): os.mkdir(train_dir)
if not os.path.exists(test_dir): os.mkdir(test_dir)
for i in get_category(cat):
    train_each_dir = os.path.join(train_dir, i)
    if not os.path.exists(train_each_dir): os.mkdir(train_each_dir)
    test_each_dir = os.path.join(test_dir, i)
    if not os.path.exists(test_each_dir): os.mkdir(test_each_dir)

In [24]:
train_result = []
for tresult in values * 75/100:    
    train_result.append(tresult)
#     print(train_result)
print(train_result)

[517.5, 713.25, 375.0, 322.5, 131.25, 852.75, 256.5, 117.0, 287.25, 345.0, 288.75, 309.75, 643.5, 174.75, 1018.5, 251.25, 1009.5, 357.0, 936.75, 128.25, 334.5, 288.75, 815.25]

In [26]:
test_result = []
for fresult in values * 25/100:    
    test_result.append(fresult)
print(test_result)

[172.5, 237.75, 125.0, 107.5, 43.75, 284.25, 85.5, 39.0, 95.75, 115.0, 96.25, 103.25, 214.5, 58.25, 339.5, 83.75, 336.5, 119.0, 312.25, 42.75, 111.5, 96.25, 271.75]

In [28]:

for f, category in  enumerate(df['category'].unique()):

    categories = df[df['category'] == category]['id'].tolist()
    train_name = categories[0: int(train_result[f])]
 
    
    for train_image_name in train_name:
        train_src = os.path.join(original_dataset_dir, train_image_name)         
        train_dst = os.path.join('base_dir/train/',category, train_image_name)
        shutil.copyfile(train_src, train_dst)
        
#     test_name = categories[(int(len(categories))-int(test_result[f])):]
#     test_name = categories[0: int(test_result[f])]
    test_name = categories[int(train_result[f]):]
#     print(len(test_name))
    for test_image_name in test_name:  
        test_src = os.path.join(original_dataset_dir, test_image_name)         
        test_dst = os.path.join('base_dir/test/',category, test_image_name)
        shutil.copyfile(test_src, test_dst)

In [29]:
# os.listdir('base_dir/train/Urticaria-Hiv')

In [29]:
os.listdir('base_dir/test/')

['Tinea-Ringworm-Candidiasis-and-other-Fungal-Infection',
 'Urticaria-Hiv',
 'Systemic-D',
 'Vasculitis-Photo',
 'Poison-Ivy-Photos-and-other-Contact-Dermatit',
 'Atopic-Dermatitis-Photo',
 'Melanoma-Skin-Cancer-Nevi-and-Mol',
 'Light-Diseases-and-Disorders-of-Pigmentation',
 'Cellulitis-Impetigo-and-other-Bacterial-Infection',
 'Scabies-Lyme-Disease-and-other-Infestations-and-Bit',
 'Lupus-and-other-Connective-Tissue-d',
 'Herpes-HPV-and-other-STDs-Photo',
 'Psoriasis-pictures-Lichen-Planus-and-related-d',
 'Hair-Loss-Photos-Alopecia-and-other-Hair-D',
 'Seborrheic-Keratoses-and-other-Benign-Tumor',
 'Bullous-Disease-Photo',
 'Nail-Fungus-and-other-Nail-D',
 'Warts-Molluscum-and-other-Viral-Infection',
 'Acne-and-Rosacea-Photo',
 'Vascular-Tumor',
 'Exanthems-and-Drug-Eruption',
 'Eczema-Photo',
 'Actinic-Keratosis-Basal-Cell-Carcinoma-and-other-Malignant-Lesion']